<h1>New message</h1>

<%= error_messages_for :message %>

<% form_for(@message) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Company</b><br />
    <%= f.text_field :company %>
  </p>

  <p>
    <b>Phone</b><br />
    <%= f.text_field :phone %>
  </p>

  <p>
    <b>Subject</b><br />
    <%= f.text_field :subject %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
