<p>
  <b>Name:</b>
  <%=h @page.name %>
</p>

<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @page.body %>
</p>

<p>
   <b>Admin?</b><br />
   <%= @page.admin? ? "TRUE" : "FALSE" %>
 </p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
